<div class="container">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">MovieHub</a>
        <ul class="nav navbar-nav">
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu" aria-labelledby="themes">-->
                    <!--<li><a href="../default/">Default</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="../amelia/">Amelia</a></li>-->
                   <!---->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a href="#/movie">Movies</a>
            </li>
            <li>
                <a href="#/tv">TV</a>
            </li>
            {{#each menu in model}}
                <li><a href="">{{menu}}</a></li>
            {{else}}
                <p>No menu data</p>
            {{/each}}
        </ul>
    </div>
</div>