<div class="row">
    <div class="col-lg-2">
        <div class="btn-group btn-group-vertical">
            {{#each genre in model}}
            <button type="button" class="btn btn-default" {{action gotoMovieListByGenre genre}}>{{genre.name}}</button>
            {{/each}}
        </div>
    </div>
    <div class="col-lg-10">
        {{outlet}}
    </div>
</div>